---
import { cn } from '@/lib/utils';
import { ScrollToIdLink } from '../ScrollToIdLink';
import { buttonVariants } from '../ui/button';
import { EarthCanvas } from './EarthCanvas';
import StarsCanvas from './StarsCanvas';
import type { IHeroSection } from '@/interfaces/home-page';

interface Props {
  t: IHeroSection
}

const {t} = Astro.props
---

<section class='select-none h-70vh xl:h-[600px]'>
    <div class='flex relative justify-between flex-col lg:flex-row lg:gap-8'>
      <div class='lg:w-1/2 mt-4 text-center'>
        <div class='lg:absolute lg:w-[40vw] xl:w-[32vw] lg:top-[25%]'>
          <h2 class='font-medium sm:text-3xl text-2xl lg:text-4xl'>
            {t.title}
          </h2>
          <h3 class='font-medium text-lg sm:text-xl my-8 lg:my-12'>
            {t.subtitle}
          </h3>
          <ScrollToIdLink
            client:load
            id='about'
            text={t.callToAction}
            styles={cn(buttonVariants({ variant: 'default', size: 'lg' }))}
          />
          <div></div>
        </div>
      </div>
      <div class='lg:w-1/2 md:h-[550px] h-[350px]'>
        <EarthCanvas client:load transition:persist/>
      </div>
    </div>
    <StarsCanvas client:load transition:persist/>
  </section>