@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter Variable', sans-serif;
}

@layer base {
  :root {
    --background: 230 64% 5%; /* white-100 */
    --foreground: 0 0% 95.3%; /* primary */

    --card: 0 0% 95.3%; /* white-100 */
    --card-foreground: 230 94% 3.7%; /* primary */

    --popover: 0 0% 95.3%; /* white-100 */
    --popover-foreground: 230 94% 3.7%; /* primary */

    --primary: 260, 40%, 17%; /* primary */
    --primary-foreground: 0 0% 95.3%; /* white-100 */

    --secondary: 260 14.5% 71.6%; /* secondary */
    --secondary-foreground: 230 94% 3.7%; /* primary */

    --muted: 260 14.5% 71.6%; /* secondary */
    --muted-foreground: 250 100% 90.6%; /* info */

    --accent: 260 14.5% 71.6%; /* secondary */
    --accent-foreground: 230 94% 3.7%; /* primary */

    --destructive: 262 100% 67.3%; /* info-strong */
    --destructive-foreground: 0 0% 95.3%; /* white-100 */

    --border: 250 100% 90.6%; /* info */
    --input: 250 100% 90.6%; /* info */
    --ring: 262 100% 67.3%; /* info-strong */

    --radius: 0.5rem;
  }

  /* .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

