---
import { VerticalTimelineComponent } from './VerticalTimelineComponent';
import type { IExperienceSection } from '@/interfaces/home-page';
interface Props {
  t: IExperienceSection;
}
const { t } = Astro.props;
---

<section id='experience'>
  <div>
    <h5 class='sm:text-xl text-lg text-secondary uppercase tracking-wider'>
     {t.uppertitle}
    </h5>
    <h2 class='text-white font-black md:text-6xl sm:text-5xl text-4xl my-4'>{t.title}</h2>
  </div>
  <VerticalTimelineComponent professionalExp={t.professional} qualifications={t.qualifications} client:visible />
</section>
